<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript" src="/js/geolocation.js"></script>
    <script type="text/javascript" src="/js/getlatlong.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    
     
        <div class="address-box flex-box">

            <div class="address-text-box">

                <h2 id="your-address">Your Address</h2>

            </div>

        </div>

        <div class="flex-box" id="latlong-box">
          <div class="address-text-box">
            <h3 id="your-latlong">Your Address</h3>
  
          </div>
        </div>
    

        <div class="outer">
      
      <div class="box">
        
        <form class="form-box" action="/get-address" method="post" id="getLatLong">
          <h1 class="input-title">Street</h1>
          <input type="text" name="street" required />
          <h1 class="input-title">City</h1>
          <input type="text" name="city" required />
          <h1 class="input-title">Country</h1>
          <input type="text" name="country" required />
          <h1 class="input-title">State</h1>
          <input type="text" name="state"  required />
          <h1 class="input-title">Postalcode</h1>
          <input type="number" name="postalcode" required />

          <button type="submit">Submit</button>
        </form>
        
      </div>
    </div>
  </div>
  </body>
</html>